@import 'fonts.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Montserrat";
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

img {
    width: 100%;
    padding: 6px;
}

.header {
    display: flex;
    height: 700px;
   
}
.nav__panel{
    min-height: 57px;
    position: fixed; 
    background-color: #282828;
    width: 100%;
    z-index: 50;
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__list li a {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    display: inline-block;
    font-style: normal;
    margin-left: 30px;
}

.header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: url(../image/Header.png);
    background-repeat: no-repeat;
    background-size:cover;
    flex-direction: column;
}

.header__links {
    display: flex;
    gap: 23px;
}

h1 {
    font-family: "ProstoOne";
    font-size: 100px;
    line-height: 75px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.header__link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #171718;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.img__link{
    max-width: 27px;
    width: 100%;
}


.main {
    background: #151515;
    padding-bottom: 55px;
    padding-top: 30px;
}

.airpods {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.airpods__item-text {
    max-width: 540px;
    width: 100%;
}

.airpods__item {
    max-width: 552px;
    width: 100%;
    margin-bottom: 50px;
}

.airpods__item-text p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.airpods__big {
    display: flex;
    align-items: center;
    margin-bottom: 79px;
    justify-content: space-between;
}

.airpods__left,
.airpods__right {
    max-width: 333px;
    width: 100%;
}

.airpods__center {
    max-width: 268px;
    width: 100%;
}

.airpods__left p,
.airpods__right p {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 700;
}

.airpods__left p {
    text-align: right;
}

.airpods__big span {
    display: block;
    max-width: 61px;
    width: 100%;
    background: #C4C4C4;
    height: 1px;
}

.iphones {
    display: flex;
    justify-content: space-between;
}

.iphone {
    max-width: 255px;
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 6px;
}

.iphone h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.price {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    padding: 10px 0 20px;
}

.iphone__link {
    max-width: 161px;
    width: 100%;
    padding: 7px 0;
    background: #151515;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.footer{
    padding: 81px 0;
    background: #282828;
}
.footer__list{
    display: flex;
}
.footer__list li a{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 30px;
}
.footer__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__links{
    display: flex;
    gap: 29px;
}
.menu__btn{
    display: none;
    background-color: #282828;
    color: #FFFFFF;
    padding-left: 13px;
}